<%= provide(:name, "My Cat") %>
<h1>My cat, <div class="cursive-text">Donatella</div></h1>


<div class = "card-columns">
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/cozy_8008.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/head_lamp.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/eye_infection.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/senor_squish.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/bathroom_rack.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/upside_down_smile.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/woosh.jpg">
  </div>
  
   <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/open_window.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/face_off.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/perky.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/cozy_8008.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/face_lift.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/jaded.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/evening_window.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/nom.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/drugged.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/five_pm.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/mortal_suffering.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/inner_eyelid.jpg">
  </div>
  
  <div class="card">
    <img class="card-img-top", alt = "Donatella, my cat", src = "/assets/angry_yawn.jpg">
  </div>
</div>