<%= provide(:name, "My Cat") %>
<h1>This is my cat, Donatella Versace</h1>
<container id = "card-container">
  <container id: "cat-card">
    <img alt = "headshot of my cat", width = 200px, src = "/assets/tella_headshot.jpg", id: "tella_1">
  </container>

  <container id="cat-card">
    <img alt = "headshot of my cat", width = 200px, src = "/assets/tella_headshot.jpg", id: "tella_1">
  </container>
</container>