<%= provide(:name, "My Cat") %>
<h1>My cat, <div class="cursive-text">Donatella</div></h1>
<container id = "card-container">
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/public/img/8008_bedroom.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/head_lamp.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/senor_squish.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/bathroom_rack.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/upside_down_smile.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/woosh.jpg", id: "tella_1">
  </container>
  
   <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/open_window.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/face_off.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/perky.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/cozy_8008.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/face_lift.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/jaded.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/eye_infection.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/evening_window.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/nom.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/drugged.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/five_pm.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/mortal_suffering.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/inner_eyelid.jpg", id: "tella_1">
  </container>
  
  <container id="cat-card">
    <img alt = "Donatella, my cat", width = 200px, src = "/assets/angry_yawn.jpg", id: "tella_1">
  </container>
</container>