<h1>About Me</h1>

<div class = "jumbotron">
  <img src="assets/headshot_cropped.jpg", id: "headshot">
  <p>Hi! I currently attend Grinnell College where I am majoring in computer science. I began programming in
  2018 and fell in love with the problem solving and flexibility that comes with software developement. In my free
  time, I enjoy going for walks around the lake, listening to podcasts, and playing with my cat, Donatella. Right now,
  I am learning Ruby on Rails.
  You can find me on <a href = "https://www.linkedin.com/in/emily-louden-programs/">Linkedin</a> and on 
  <a href = "https://github.com/deer-prudence">Github</a>.</p>
</div>