<h3>Consolidation of Funding Resources</h3>
  <p>
    Using Ruby on Rails to implement a feature to allow users to narrow down their search based
    on attributes of funds/grants. Augmenting Postgres database to store more information about
    available funds. [October 2020 - present]
  </p>