<h3>Consolidation of Funding Resources</h3>
  <p>
    Used Ruby on Rails to implement a feature to allow users to narrow down their search based
    on attributes of funds/grants. Augmented Postgres database to store more information about
    available funds. Made website vieweable on mobile. Implemented Gutentag and ActiveAdmin 
    gems. [October 2020 - present]
  </p>