<%= provide(:name, "Skills") %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Skill</th>
      <th scope="col">Proficiency (1 - 5)</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>Python</td>
      <td>5</td>
    </tr>
    
    <tr>
      <td>Flask</td>
      <td>5</td>
    </tr>
    
    <tr>
      <td>SQL</td>
      <td>5</td>
    </tr>
    
    <tr>
      <td>RESTful Developement</td>
      <td>5</td>
    </tr>
    
    <tr>
      <td>Relational Databases</td>
      <td>4</td>
    </tr>

    <tr>
      <td>CSS/HTML</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>Java</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>C</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>Scheme</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>Project Management</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>Test-Driven Developement</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>Git</td>
      <td>3</td>
    </tr>
    
    <tr>
      <td>Postgres</td>
      <td>3</td>
    </tr>
    
    <tr>
      <td>Ruby on Rails</td>
      <td>3</td>
    </tr>
    
    <tr>
      <td>C#</td>
      <td>3</td>
    </tr>
    
    <tr>
      <td>C++</td>
      <td>3</td>
    </tr>
    
    <tr>
      <td>Command Line</td>
      <td>3</td>
    </tr>
    
    <tr>
      <td>Agile Developement</td>
      <td>2</td>
    </tr>
    
    <tr>
      <td>SaaS</td>
      <td>2</td>
    </tr>
    
    <tr>
      <td>Purescript</td>
      <td>2</td>
    </tr>
    
    <tr>
      <td>Haskell</td>
      <td>2</td>
    </tr>
    
    <tr>
      <td>JavaScript</td>
      <td>1</td>
    </tr>
    

  </tbody>
</table>
<p>
  I have assessed the above skills in relation to the rest of my programming abilities. As such, a
  skill ranked "five" will be one I am more practiced at than a skill ranked "four."
  </p>
