<% provide(:name, "Current Work") %>
<!DOCTYPE html>
<html>
    <head><title>Emily Louden | <%= yield(:name) %></title></head>
    <h1>Current Work</h1>
    <body><p>I am currently building my first Ruby on Rails website.</p></body>
</html>

