<%= provide(:name, "Current Work") %>

<h3>Noetic Strategies</h3>
  <p>
    [January 2021 - June 2021]
  </p>
  
  
<h3>Tech For Good Inc</h3>
    <p>
      Single-handedly used Flask framework to write the back-end of an application to streamline personal shipping. 
      Set up and managed a Postgres server that interfaced with back-end. Learned and utilized the Easyship and 
      Stripe APIs. Worked with two front-end programmers to set up a server, test app capabilities, and 
      coordinate development timeline. [June 2020 - October 2020]
    </p>
    
<h3>Recommender System Research</h3>
    <p>
      Built collaborative and content-based recommender systems. Parsed The Movies Dataset (26 million movie reviews) to 
      train and test the aforementioned recommender systems.  Created a CS curriculum outline based on current research 
      on student metacognition. Read more here: https://www.overleaf.com/read/cjbqhdpgdxjz Read more 
      <a href = https://www.overleaf.com/read/cjbqhdpgdxjz>here</a>. [June 2019 - August 2019]
    </p>

