@import "bootstrap-sprockets";
@import "bootstrap";


/* GENERAL */

body {
  padding-top: 60px;
  background-color: white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* TYPOGRAPHY */
h1, h2, h3 {
  font-family: "Alegreya", serif;
}

h1 {
  font-size: 3.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: "Lato", sans-serif;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-bottom: 35px;
  border-top: 1px solid #eaeaea;
  color: black;
  font-family: "Lato", sans-serif;
  
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* PAGE NAVIGATION */

#navbar_icon {
  color: black;
  font-size: 1.5em;
  padding-bottom: 4px;
  font-family: "Alegreya", serif;
}

g {
  margin: 3px 8px;
  font-size: 1.5em;
}

.navbar {
  background-color: lighten(#F3B9D3, 2%);
}


/* DEBUGGING */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
