@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Georgia", serif;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  font-family: "Georgia", serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: "Georgia", serif;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: black;
  font-family: "Georgia", serif;
  
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* PAGE NAVIGATION */

#home_icon, #work_icon, #tella_icon, #contact_icon {
  color: black;
  font-size: 1.5em;
}

g {
  margin: 0 8px;
  font-size: 1.5em;
}

.navbar {
  background-color: pink;
}


/* DEBUGGING */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



$extra-large: 110px;
$pink: #fa82cc;

.cursive-text {
    $random-text: 'Donatella';
    position: relative;
    top: 10px;
    $stroke-width: $extra-large * 0.05;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size: $extra-large;
    color: lighten($pink, 25%);
    -webkit-text-stroke-width: $stroke-width;
    -webkit-text-stroke-color: lighten($pink, 5%);
    // @include center;
  }