
/* DONATELLA PAGE */

.card {
  border-color: pink;
  border-width: 5px;
}

$extra-large: 110px;
$pink: #fa82cc;


.cursive-text {
    $random-text: 'Donatella';
    position: relative;
    top: 10px;
    $stroke-width: $extra-large * 0.05;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size: $extra-large;
    color: lighten($pink, 25%);
    -webkit-text-stroke-width: $stroke-width;
    -webkit-text-stroke-color: lighten($pink, 5%);
    -webkit-text-fill-color: pink;
  }
  
.jumbotron {
  background-color: lighten(#FBD7E7, 5%);
}

.jumbotron {
  img {
    width: 25%;
    float: left;
    padding-right: 20px;
  }
}

/* SKILLS TABLE */
.table {
  margin-top: 20px;
}

// https://paletton.com/#uid=15h0u0ka8HO4GY37CRqcdwufipc