
/* DONATELLA PAGE */

.card {
  border-color: pink;
  border-width: 5px;
}

$extra-large: 110px;
$pink: #fa82cc;


.cursive-text {
    $random-text: 'Donatella';
    position: relative;
    top: 10px;
    $stroke-width: $extra-large * 0.05;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size: $extra-large;
    color: lighten($pink, 25%);
    -webkit-text-stroke-width: $stroke-width;
    -webkit-text-stroke-color: lighten($pink, 5%);
    -webkit-text-fill-color: pink;
  }