<footer class = "footer">
  <small>
    This site was built with Ruby on Rails with the help of "Ruby on Rails Tutorial" by Michael Hartl. The
    source code is available on <a href = "https://github.com/deer-prudence/Ruby-Website">Github</a>.
  </small>
</footer>