<header class = "navbar navbar-fixed-top navbar-inverse">
    <div class = "container">
      <nav>
        <ul class = "nav navbar-nav navbar-right">
          <li><%= link_to "Home", '#', id: "home_icon" %></li>
          <li><%= link_to "Work", '#', id: "work_icon" %></li>
          <li><%= link_to "Contact", '#', id: "contact_icon" %></li>
          <li><%= link_to "My Cat, Donatella", '#', id: "tella_icon" %></li>
        </ul>
      </nav>
    </div>
  </header>