<header class = "navbar navbar-fixed-top navbar-inverse">
    <div class = "container">
      <nav>
        <ul class = "nav navbar-nav navbar-right">
            <div style="align-items: center; display: flex; padding-top: 13px;">
              <a><%= link_to "Home", root_path, id: "home_icon" %></a>
              <div style="margin: 0 8px;">/</div>
              <a><%= link_to "Work", 'work', id: "work_icon" %></a>
              <div style="margin: 0 8px;">/</div>
              <a><%= link_to "Contact", 'contact', id: "contact_icon" %></a>
              <div style="margin: 0 8px;">/</div>
              <a><%= link_to "My Cat, Donatella", 'donatella', id: "tella_icon" %></a>
            </div>
        </ul>
      </nav>
    </div>
  </header>
  
  
